# ------------------------------------------------------------------------------
# Git Ignore
# ------------------------------------------------------------------------------
.terraform
.terraform.*
terraform.tfstate*